configuration {
  modi: "drun";
  font: "Maple Mono NF 9";
  show-icons: true;
  terminal: "kitty";
  icon-theme: "Papirus-Dark";
  drun-display-format: "{name}";
  display-drun: "";
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}

@theme "~/.config/rofi/dwm-config.rasi" 
