/* Themes */

@import "colors-matugen.css";
@import "colors-wallust.css";

@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

/* General */

* {
    font-family: "JetBrainsMono Nerd Font";
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 97%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background-color: @background25;
    border-bottom: 1px solid @workspacesbackground2;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Workspaces */

#workspaces {
    margin: 0px 1px 1px 1px;
    padding: 0px 1px;
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    color: @textcolor1;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 5px;
    border: 0px;
    color: @textcolor3;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 5px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 5px;
    box-shadow: inherit;
    text-shadow: inherit;
}

/* Tooltips */

tooltip {
    border-radius: 5px;
    background-color: @backgrounddark;
    opacity: 0.75;
    padding: 5px;
    margin: 0px;
}

tooltip label {
    color: @textcolor1;
}

/* Window */

#window {
    background: @backgroundlight;
    margin: 5px 15px 5px 0px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    color: @textcolor2;
    font-weight: normal;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* Modules */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Other */

#network,
#pulseaudio,
#clock {
    margin-right: 20px;
    font-weight: bold;
    color: @iconcolor;
    padding: 2px 10px 2px 10px;
}

#tray,
#workspaces,
#pulseaudio,
#network,
#clock,
#custom-menu {
    padding-right: 6px;
    padding-left: 6px;
    color: @iconcolor;
}

#tray {
    margin: 5px 10px 5px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#pulseaudio {
    background-color: @backgroundlight;
    color: @textcolor2;
    border-radius: 5px;
    margin: 5px 10px 5px 0px;
}

#pulseaudio.muted {
    background-color: @backgrounddark;
    color: @textcolor1;
}

#network {
    background-color: @backgroundlight;
    color: @textcolor2;
    border-radius: 5px;
    margin: 5px 10px 5px 0px;
}

#network.ethernet {
    background-color: @backgroundlight;
    color: @textcolor2;
}

#network.wifi {
    background-color: @backgroundlight;
    color: @textcolor2;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#clock {
    background-color: @backgrounddark;
    color: @textcolor1;
    border-radius: 5px;
    margin: 5px 2px 5px 0px;
}

#custom-menu {
    background-color: @backgrounddark;
    color: @textcolor1;
    border-radius: 5px;
    margin: 5px 10px 5px 10px;
    padding-right: 6px;
    padding-left: 4px;
}
