@define-color bg      #161616;
@define-color fg      #ffffff;
@define-color black   #262626;
@define-color red     #ee5396;
@define-color yellow  #42be65;
@define-color green   #ffe97b;
@define-color blue    #33b1ff;
@define-color magenta #ff7eb6;
@define-color cyan    #3ddbd9;
@define-color white   #dde1e6;

* {
  font-family: "BlexMono Nerd Font", monospace;
  font-size: 10px;
  font-weight: bold;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: none;
  margin: 0px;
}

#waybar {
  background-color: @blue;
  color: @bg;
}

#workspaces button {
  padding: 0 11px;
  color: @white;
  background: @bg;
}

#workspaces button.active {
  color: @bg;
  background: @blue;
}

#workspaces button.hidden {
  color: @white;
}

#workspaces button.hidden.active {
  color: @white;
}

#workspaces button.urgent {
  background-color: @red;
}

button:hover {
  background: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

#window.layout,
#custom-kernel,
#memory,
#clock {
  padding: 0 8px;
  color: @white;
  background: @bg;
}

#window.title {
  padding: 0 8px;
  color: @bg;
  background: @blue;
}
