@import "colors.css";

*{
  font-family: "Hack Nerd Font Mono";
  font-size: 12px;
  font-weight: bold;
  border-radius: 0px;
  min-height: 0;
}

@keyframes blink_red {
  to {
    background-color: @red;
    color: @background;
  }
}

.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#waybar {
  background: transparent;
  color: @foreground;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#workspaces {
  background: @background-op;
  padding-left: 0px;
  padding-right: 0px;
}

#workspaces button {
  background: transparent;
  color: @foreground;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.2s ease;
}

#workspaces button.urgent {
  color: @background;
}

#workspaces button:hover {
  background: @foreground;
  color: @background;
}

tooltip {
  background: @background;
  border-radius: 10px;
}

tooltip label {
  color: @foreground;
}

#custom-launcher {
  background: @background-op;
  color: @foreground;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.2s ease;
}

#custom-launcher:hover {
  background: @foreground;
  color: @background;
  padding-left: 10px;
  padding-right: 10px;
}

#window {
  background: @background-op;
  color: @foreground;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px 0px 10px 0px;
}

#clock,
#custom-powermenu,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  background: @background-op;
  color: @foreground;
  border-radius: 0px 0px 10px 10px;
}

#wireplumber.icon {
  font-size: 20px;
  background: @background-op;
  color: @yellow;
  padding-left: 10px;
  padding-right: 2px;
}

#wireplumber.text {
  background: @background-op;
  color: @yellow;
  padding-left: 2px;
  padding-right: 10px;
}

#network.icon {
  font-size: 20px;
  background: @background-op;
  color: @green;
  padding-left: 10px;
  padding-right: 2px;
}

#network.text {
  background: @background-op;
  color: @green;
  padding-left: 2px;
  padding-right: 10px;
}

#custom-powermenu {
  font-size: 16px;
  background: @background-op;
  color: @red;
}

#tray {
  background: @background-op;
  color: @foreground;
  border-radius: 0px 0px 0px 10px;
}

#tray menu {
  background: @background;
  color: @foreground;
}
